/*
https://autoprefixer.github.io/
*/

/**
*header line with logo
*/

#headerLineContainer
{
    border-bottom:1px solid #000;
    padding:10px;
    width:100% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
}

#headerLogoContainer img
{
    height: 20px;
    width: 60px;

}



#headerLineContainer{
    width:200%;
    position:relative;

}

#headerLogoContainer{
    width:25%;
    position:absolute;
    left:0px;

    -webkit-transition: left 0.5s;

    -o-transition: left 0.5s;

    transition: left 0.5s;
}
#headerBackContainer{
    width:25%;
    position:absolute;
    left:100%;

    -webkit-transition: left 0.5s;

    -o-transition: left 0.5s;

    transition: left 0.5s;
}



/**
*   page
*/
.innerPageContainer{
    width:70%;
    margin:0px 15%;
}
.pageAllSlide{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

}

/**
*  center page content
*/
.pageContent{
    width:70%;
    height:500px;
    overflow:scroll;
}

.pageContent::-webkit-scrollbar {
    display: none;
}
.pageContent::scrollbar {
    display: none;
}

.pageContent>header{}
.pageContent>section{}
.pageContent h3{}
.pageContent h4{}
.pageContent p{}





/*
* aside
*/


/* tabs */
.asideContainer
{
    width:30%;
}

.asideInnerContainer
{

}
.asideInnerContainer>header{

}

#asideTabsContainer{

}
ul#tabsList {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:0px;
    margin:0px;
}


#tabsList li{
    width:25%;
    display:inline;
    opacity:0.6;
}


#tabsList a{
    text-decoration: none;
    color:#000;
    display: block;
}


#tabsList img{
    max-width: 100%;
    height: 40px;
    display:block;
    margin:auto;

}


#tabsList label{
    display:block;
    text-align: center;
}



#tabsList li.active{
    opacity:1;

}


#tabsList li.active a{

}



/* slides pages */

.asideInnerContainer{

}
.asideInnerContainer>section{
}

.asideInnerContainer .slidesAllContainer{

    position:relative;
    height:500px;
    overflow:auto;
}

.oneSlidePageContainer{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    display:none;
}

#oneSlidePageContainer_1{
    display:block;
}


/**
*
* content style
*/

body{
    font-family: sans-serif !important;
}
.pageContent p{
    text-align:justify;
}
#headerLineContainer{
    min-height: 50px !important;
    padding:5px !important;
}

.asideInnerContainer {
    background: #fafafa;
}
#tabsList li{
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:10px;
}

#tabsList li.active{
    border-bottom: 2px solid #777777;
}


#tabsList label{
    line-height: 30px;
}
.logo{
    width:100px;
    margin:14px;
    height:30px;
    float: left;
}
.logo span{
    width:100%;
    background:#464646;
    height:100%;
    color:#fff;
    padding:5px 15px;

}
section{
    margin: 15px;
    max-width:100%;
}
section h3{
    border-bottom:2px solid #dcdcdc;
    color:#949393;
}
section p a{
    color:#949393;
    font-size:14px;}
.map {
    margin: 15px;
    max-width:100%;
}
.map p{
    text-align:justify
}
.map img{
    max-width: 100%;
}