
/**
*   page
*/
.innerPageContainer{
    width:100%;
    margin:0px 0px;
    overflow: hidden;
    display: block;
    position:relative;

}


/**
*  center page content
*/
.pageContent{
    width:100%;
}

/*
* aside
*/

.asideContainer{
    /*position:absolute;*/
    top:0px;
    left:100%;
}


/* tabs */


#asideTabsContainer{
    position:absolute;
    right:50%;
    top:0px;
    z-index: 2;
}
ul#tabsList{
    width:40px;
    display: block;

}

#tabsList li{
    width:40px;
    display: block;


}

/*
.asideInnerContainer .slidesAllContainer{
    position:absolute;

    top:0px;

    width:100%;
}
#oneSlidePageContainer_1{

    display:block;
}

.oneSlidePageContainer:target ~ .asideInnerContainer .slidesAllContainer{
left:0px;
    right:0px;
}


.oneSlidePageContainer:target ~ .pageContent{
    left:100%;
    display:none;
}
*/

.oneSlidePageContainer:target {

    display:block;

}


.innerPageContainer{
    position:relative;
    width:100%;
    height:3000px;
}



.pageAllSlide{
    position:absolute;
    width:200%;
    left:0px;



}

.pageContent{
    width:100%;
}
.asideContainer{
    width:100%;
}

